body{
    
    background: url(b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.first{
    color: black;
    
    font-size: 40px;
}
.second{
    color:black;
    padding-right: 400px;
    font-size: 25px;
}